ody{
  background-color: #424242;
}

.nav-wrapper{
background:  #424242;
}

.brand-logo{
margin-left: 25px;
font-family:fantasy;
}

#map { height: 300px; }

.row{
  font-family: monospace;
  background: #424242;
color: white;
margin-top: 30px;
}

.card-title{
  font-family: cursive;
  color: white;
}

.collection{
  font-family: fantasy;
  color: black;
}
